# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/
modbus_web/New Text Document.txt
*.csv
*.txt
node_modules/
